<table class="table table-hover"> 
  <thead class="active">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Discussion Start Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of discussionList | async" (click)="onSelectingADiscussion(item)">
      <td>{{item.id}}</td>
      <td appHighlighter>{{item.title}}</td>
      <td>{{item.description}}</td>      
      <td>{{item.startDateTime | date: "dd/MM/yy hh:mm"}}</td>
    </tr>
  </tbody>

</table>
